git /extensions/HUD           git://github.com/oe-legacy/extensions-HUD.git
git-dev /extensions/HUD       git@github.com:oe-legacy/extensions-HUD.git

# HUD dependencies
dist /extensions/CairoResource/CairoResource.dist                               https://raw.github.com/oe-legacy/extensions-CairoResource/master/CairoResource.dist
